{% extends "base.html" %}

{% block content %}
<section>
	<h6>Your Lists</h6>
	<ul class="mui-list--unstyled">
	{% for list in lists %}	
		<li class="mui-form--inline clearfix">
			<a href="/list/{{ list.key.urlsafe() }}">{{ list.title }}</a>
			<span class="mui--pull-right">
				<form method="post" action="/">
					<input class="mui-btn mui-btn--flat" type="submit" value="Delete" />
					<input type="hidden" name="list_key" value="{{ list.key.urlsafe() }}" />
					<input type="hidden" name="_method" value="delete" />
				</form>
			</span>
		</li>
	{% endfor %}
	</ul>
	<div class="mui-form--inline clearfix">
		<div class="mui--pull-right">
			<a href="/create" class="mui-btn mui-btn--primary">Add List</a>
		</div>
	</div>
</section>
<footer class="footer"></footer>

{% endblock %}